{% extends 'home.html' %}
{% block con %}
<style>
    .dep{
        margin-left: 230px;
        margin-right: 200px;
        text-align: center;
        
        height: 350px;
    }.fff{
        margin-top: 20px;
    }input{
    margin-right: 30px;
    border-radius: 10px;
   }.den{
    color: red;
    margin-bottom: 4px;
   }
</style>
<body>
    <div class="dep" id="">
        <p class="cu">To transerver amount </p>
        <p>Fill the all field , which you want to send</p>
        <div class="fff">
            <form action="" method="post">
                 <p></p> <p class="den">{{ma}}</p>
                {% csrf_token%}
                <label for="">Name <sup>*</sup></label>
                <input type="text" name="name" id="name" placeholder="Enter your name" required>

                <label for="">Phone Number <sup>*</sup></label>
                <input type="tel" name="phoe" required id="phone" placeholder="9199989790">
                <label for="">Amount<sup>*</sup></label>
                <input type="text" name="amt" id="amt" required placeholder="amount">
                <br><input id="subs" type="submit" value="Deposit" >
                <input type="text" name="lul" value="lul" hidden >
            </form>
        </div>
    </div>
</body>
{% endblock %}